//colors
/// 
// (normal, -l light and -d dark)
// -p Primary variants
$color-p: #717171;
$color-p-l:#EEEEEE;


//responsive sizes (starts at, mobile first) use min-width
$tablet:650px;
$desktop:1100px;